* {
    margin: 0;
}

.defaultText {
    color: #F9FAF8;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}

.headerLogoText{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    padding-left: 50px;
    padding-top: 20px;
}

.headerLinkBox {
    font-size: 22px;
    color: #F9FAF8;
    padding-top: 20px;
}

.headerLinkText {
    font-size: 22px;
    color: #F9FAF8;
    margin: 10px;
}

.topBody{
    width: 100%;
    height: 400px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.topBodyTextDiv{
    height: 200px;
}

.topBodyPhotoDiv{
    background-color: grey;
    height: 300px;
    width: 500px;
}

.topBodyMainText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.topBodySecondText{
    font-size: 18px;
    color: #e5e7eb;
}

.footer{
    width: 100%;
    height: 40px;
    background-color: #1f2937; 
}