* {
    margin: 0;
}

.defaultText {
    color: #F9FAF8;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}

.headerLogoText{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    padding-left: 50px;
    padding-top: 20px;
}

.headerLinkBox {
    font-size: 22px;
    color: #F9FAF8;
    padding-top: 20px;
}

.headerLinkText {
    font-size: 22px;
    color: #F9FAF8;
    margin: 10px;
}

.topBody{
    width: 100%;
    height: 400px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.topBodyTextDiv{
    height: 200px;
    width: 400px;
}

.topBodyPhotoDiv{
    background-color: grey;
    height: 200px;
    width: 400px;
}

.topBodyMainText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.topBodySecondText{
    font-size: 18px;
    color: #e5e7eb;
}

.footer{
    width: 100%;
    height: 40px;
    background-color: #1f2937; 
}

.ctaButton {
    width: 130px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 10px;
    color: WHITE;
    font-size: 18px;
    font-weight: bold;
}

.infoBody{
    width: 100%;
}

.infoBoxWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex: 1;
}

.infoBodyTitle{
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
    margin: 20px;
}

.infoBodyBox {
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

.infoBodyBoxPhoto {
    border: 2px solid blue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.infoBodyBoxText {
}