* {
    margin: 0;
}

.defaultText {
    color: #F9FAF8;
    font-size: 19px;
}

.header{
    width: 100%;
    height: 70px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}

.headerLogoText{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    padding-left: 50px;
    padding-top: 20px;
}

.headerLinkBox {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    padding-top: 20px;
}

.headerLinkText {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 10px;
}

.topBody{
    width: 100%;
    height: 400px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 50px; 
}

.topBodyTextDiv{
    height: 200px;
    width: 400px;
}

.topBodyPhotoDiv{
    background-color: grey;
    height: 200px;
    width: 400px;
}

.topBodyMainText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.topBodySecondText{
    font-size: 18px;
    color: #e5e7eb;
}

.footer{
    width: 100%;
    height: 40px;
    background-color: #1f2937; 
}

.ctaButton {
    width: 130px;
    height: 40px;
    background-color: #3882F6;
    border-radius: 10px;
    color: WHITE;
    font-size: 18px;
    font-weight: bold;
}

.infoBody{
    width: 100%;
}

.infoBoxWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 35px;
    flex: 1;
}

.infoBodyTitle{
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
    margin: 20px;
}

.infoBodyBox {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    padding-bottom: 50px;
}

.infoBodyBoxPhoto {
    border: 2px solid blue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.infoBodyBoxText {
}

.quoteBody {
    width: 100%;
    height: 200px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quoteBox {
    width: 50%;
}

.quoteBodyQuote {
    font-size: 32px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
}

.quoteBodyAuthor {
    font-size: 38px;
    color: #000000;
    font-style: bold;
    text-align: right;
}

.callToActionBody {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.ctaBody {
    background-color: #3882F6;
    width: 600px;
    height: 100px;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.ctaBodyText {

}

.ctaTitleText{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.footer {
    text-align: center;
    height: 45px;
    padding-top: 20px;
}